@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom right, #111827, #0f172a, #030712);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #111827, #080f20, #030712);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Red Hat Display', Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
}
